.header {
    padding: 100px 0px 100px 0px;
    margin-top: 60px;
}

.margin-nav{
    padding-top: 68px;
}

.profile-image {
    width: 300px;
}

.line {
    background-color: white;
    height: 5px;
    width: 100px;
}

.bg-black{
    background-color: black;
}

.bg-blue {
    color: white;
    background-color: rgb(29, 131, 193);
}

.icons{
    list-style: none;
    padding: 0;
}

.icons > li {
    border-radius: 50%;
    border: 2px solid white;
    height: 60px;
    width: 60px;
    text-align: center;
    margin: 0px 5px;
}

.icons li > a > i{
    color: white;
    font-size: 25px;
    position: relative;
    top: 15px;
}

.about-text{
    display: flex;
}

.about-text > div {
    flex-basis: calc(50%);
    text-align: justify;
}

.mid-form {
    width: 50%;
    margin: 0 auto;
}

.mid-form label {
    display: block;
    float: left;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 17px;
    color: #9b9b9b;
}

input[type="text"]{
    width: 100%;
    min-height: 30px;
    border: 0px;
    border-radius: 0px;
    border-bottom: 1px solid #ccc;
    padding: 5px;
    margin-bottom: 5px;
    transition: 300ms all;
}

input[type="submit"]{
    text-align: left;
    display: block;
}

textarea{
    width: 100%;
    min-height: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
}